{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>insertdata</title>
        <script src="{% static '/jquery.js' %}"></script>
        
    </head>
    <body>
   
        <ul>
            {% for i in m.data %}
                <li>
                    <ul>
                        {% for key,value in i.items %}
                            <li>
                                {{ key }}
                                <ul>
                                    {% if key|first in  'images' %}
                                        {% for j in value %}
                                            {% if j|first in 'http' %}
                                                <li>
                                                    <a class="x1" href="{{ j }}">{{ j }}</a>
                                                </li>
                                            {% else %}
                                                <li class="x1">{{ j }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <li>{{ value }}</li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <button class="btn btn-primary" onclick="clicked1()">Export this data</button>
        <button id="copy"></button>
        <div class="csvtitle"></div><br/>
        <div class="csvdesc"></div>

        <script>

            function make_data(){
                ls=[];
                $.each($(".x1"), function( index, value ) {
                    ls.push( value.text );
                  });

                console.log(ls)
                return [ {% for i in m.data %}
                        { {% for key,value in i.items %}   
                                 "{{ key }}":
                                      {% if key|first in  'images' %}
                                          ls
                                      {% else %}
                                        "{{ value }}"
                                      {% endif %}
                              ,
                          {% endfor %}
                          }
                  ,
              {% endfor %}]
              }  

   
    function clicked1(){
        console.log("ok");
        console.log("salamat")
        console.log(make_data())
        $.ajax('/export-page',{
            type: 'POST',
            data:{data:JSON.stringify(make_data())}
            ,success: function(e){
                console.log(e);
                e=e.split("\n");
                $('.csvtitle').text(e[0]);
                $('.csvdesc').text(e[01]);

            }
        }
        
        
        ); 
    
    }
    
    $(document).ready(function() {console.log("ok1");
});
        </script>
    </body>
</html>
